<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Flashcards</h1>
    <div id="app">
        <input type="text" v-model="newCard.question" placeholder="Question">
        <input type="text" v-model="newCard.answer" placeholder="Answer">
        <button @click="addCard">Add Card</button>
        <hr/>
        <button @click="shuffleCards">Shuffle Cards</button>
        <ul>
            <li @click="toggleCard(card)" v-for="card in flashCards" :class="{ answer: !card.show }">
                <h2 v-show="card.show">{{ card.question }}</h2>
                <h2 v-show="!card.show">{{ card.answer }}</h2>
            </li>
        </ul>
    </div>
    
    <script src="app.js"></script>
</body>
</html>