body {
    background: #eee;
    max-width: 960px;
    margin: 20px auto;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

input {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 0;
    outline: none;
}

button {
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    margin: 5px 0;
}

p, h3, ul {
    margin: 0;
    padding: 0;
}

li {
    width: 300px;
    height: 300px;
    list-style: none;
    background: #fff;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li.fav {
    background: rgba(255, 185, 255, 0.6);
}

hr {
    width: 30%;
    margin: 20px 0;
    border: 1px solid #ccc;
}

img {
    width: 400px;
    height: 200px;
}

.answer {
    background: #facfff;
}