body {
    background: #eee;
    max-width: 960px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 20px 0;
    text-align: center;
    background-image: linear-gradient(45deg, #17153B, #2E236C, #433D8B);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 100;
}

input {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 0;
    outline: none;
}

select {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 10px;
    outline: none;
}

button {
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    margin: 5px 0;
}

.question {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    position: relative;
}

hr {
    width: 30%;
    margin: 20px 0;
    border: 1px solid #ccc;
}

img {
    width: 400px;
    height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.question.answer {
    background: linear-gradient(45deg, #17153B, #2E236C, #433D8B);
    color: white;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
    gap: 20px;
}

.arrow {
    cursor: pointer;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.subinputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.deck-btns {
    margin: 0 10px;
    cursor: pointer;
}

#remove-card {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

#remove-btn:hover {
    background-color: #ff3b3b;
}